<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration Form</title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="card container">
            <img src="images/form-header-image.png">
            <!-- <h5 class="card-header">Featured</h5>-->
            <div class="card-body">
                <h6 class="card-title">Ministry of Health</h6>
                <h4><strong>COVID-19(CORONA VIRUS)</strong></h4>
                <h6>Virus-Test Registration Form</h6>
                <form name="pform" action="/" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6"><label>Surname </label><input
                                class="form-control" id="surName" type="text"
                                name="surName">
                            <div id="surName_error"></div>
                        </div>
                        <div class="form-group col-md-6"><label>Given name
                            </label><input class="form-control" id="givenName"
                                type="text" name="givenName">
                            <div id="givenName_error"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><label>Date of Birth
                            </label><input class="form-control" id="dob"
                                type="date" name="dob">
                            <div id="dob_error"></div>
                        </div>
                        <div class="form-group col-md-6"><label>Place of
                                Residence </label><input class="form-control"
                                id="residence" type="text" name="residence">
                            <div id="residence_error"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6"><label>Occupation
                            </label><input class="form-control" id="occupation"
                                type="text" name="occupation">
                            <div id="occupation_error"></div>
                        </div>
                        <div class="form-group col-md-6"><label>Nationality</label><input
                                class="form-control" id="nationality"
                                type="text" name="nationality">
                            <div id="nationality_error"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12"><label>Gender </label><br>
                            <div class="gender col-md-12"><input id="male"
                                    type="radio" name="gender" value="Male"
                                    checked="">&nbsp;&nbsp;Male<input
                                    id="female" type="radio" name="gender"
                                    value="Female">&nbsp;&nbsp;Female
                                <div id="gender_error"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12"><label>Category
                            </label><select class="form-control" id="category"
                                name="category"><option selected="">--Select
                                    Category--</option><option>Returnee</option><option>Contact</option><option>Alert</option><option>Volunteer</option></select>
                            <div
                                id="category_error"></div>
                        </div>
                    </div>
                    <div class="submits">
                        <button class="btn btn-primary col-md-4 ml-auto" type="submit">Register</button></div>
                </form>
            </div>
        </div>
        <script src="js/script.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    </body>
</html>